adjustText==1.3.0
affine==2.4.0
aggdraw==1.3.19
apng==0.3.4
argparse==1.4.0
array_api_compat==1.11.2
asciitree==0.3.3
astropy==7.0.1
astropy-iers-data==0.2025.4.14.0.37.22
blinker==1.9.0
bokeh==3.7.2
boltons==25.0.0
Bottleneck==1.4.2
boto3==1.37.35
botocore==1.37.35
branca==0.8.1
Cartopy==0.24.1
cdo==1.6.1
cdsapi==0.7.5
cftime==1.6.4.post1
cf-units==3.3.0
cf-xarray==0.10.5
cfgrib==0.9.15.0
click-plugins==1.1.1
cligj==0.7.2
-e git+https://github.com/thebaptiste/climetlab.git@0.24.1#egg=climetlab
cloudpickle==3.1.1
coloredlogs==15.0.1
configobj==5.0.9
conflator==0.1.7
contourpy==1.3.2
copernicusmarine==2.0.1
covjson_pydantic==0.6.0
covjsonkit==0.1.9
cramjam==2.10.0
cycler==0.12.1
dask==2025.4.0
datapi==0.4.0
dateparser==1.2.1
DateTime==5.5
distributed==2025.4.0
docstring_parser==0.16
donfig==0.8.1.post1
earthkit-climate==0.1.1
earthkit-data==0.13.8
earthkit-geo==0.3.0
earthkit-hydro==0.1.3
earthkit-meteo==0.3.0
earthkit-plots==0.3.1
earthkit-plots-default-styles==0.1.0
earthkit-regrid==0.4.0
earthkit-time==0.1.7
earthkit-transforms==0.4.0
earthkit==0.10.2
eccodes==2.41.0
ecmwf-api-client==1.6.5
ecmwf-opendata==0.3.19
ek-aggregate==0.1.2
fasteners==0.19
fastparquet==2024.11.0
ffmpy==0.5.0
findlibs==0.1.1
Fiona==1.10.1
Flask==3.1.0
flexcache==0.3
flexparser==0.4
FLORIS==4.4.1
folium==0.19.5
fonttools==4.57.0
GDAL==3.10.3
geographiclib==2.0
geopandas==1.0.1
geos==0.2.3
graphviz==0.20.3
greenlet==3.2.1
h5netcdf==1.6.1
h5py==3.12.1
hda==2.22
HeapDict==1.0.1
humanfriendly==10.0
imageio==2.36.1
ipython-genutils==0.2.0
itsdangerous==2.2.0
jsmin==3.0.1
jsonpickle==3.4.2
kiwisolver==1.4.5
lazy-loader==0.4
llvmlite==0.44.0
lmoments3==1.0.8
locket==1.0.0
lru-dict==1.3.0
Magics==1.5.8
mapclassify==2.8.1
matplotlib==3.10.0
MetPy==1.6.3
metview==1.16.1
monotonic==1.6
msgpack==1.1.0
multiprocess==0.70.15
multiurl==0.3.3
munch==4.0.0
narwhals==1.35.0
nco==1.1.2
netCDF4==1.7.2
numba==0.61.2
numcodecs==0.14.1
numexpr==2.10.2
numpngw==0.1.4
opencv-contrib-python-headless==4.10.0.84
openturns==1.24
orjson==3.10.15
-e git+https://gitlab.com/thebaptiste/batman.git@1.9.3-develop-mf#egg=ot-batman
palettable==3.3.3
partd==1.4.2
pathos==0.3.1
patsy==0.5.6
pdbufr==0.11.0
Pint==0.24.4
plotly==5.18.0
pngquant==3.0.3
polars==0.19.12
polytope-client==0.7.4
pooch==1.8.0
pox==0.3.3
ppft==1.7.6.7
protobuf==3.20.3
puremagic==1.28
pyarrow==18.0.0
pycoast==1.6.1
pycurl==7.45.2
pydecorate==0.4.0
pyepsg==0.4.0
pyerfa==2.0.1.5
pyfdb==0.1.1
pygmt==0.10.0
pygraphviz==1.11
pyhdf==0.11.6
pykdtree==1.3.9
pyodc==1.3.0
pyogrio==0.10.0
pyorbital==1.8.0
pyoscar==0.6.4
pyproj==3.6.1
pyresample==1.27.1
pyrsistent==0.20.0
pyshp==2.3.1
pystac==1.12.1
pysteps==1.7.4
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
rasterio==1.4.3
rechunker==0.5.2
regionmask==0.11.0
reportlab==4.0.6
rich-argparse==1.6.0
rtree==1.1.0
s3transfer==0.11.2
salem==0.3.11
satpy==0.44.0
scikit-image==0.25.0
scikit-learn==1.5.0
scitools-iris==3.11.0
seaborn==0.13.0
semver==3.0.4
Shapely==2.0.6
snuggs==1.4.7
SQLAlchemy==2.0.36
statsmodels==0.14.2
tblib==3.0.0
tenacity==8.2.3
thermofeel==2.1.1
tifffile==2023.9.26
toolz==0.12.0
trollimage==1.21.0
trollsift==0.5.1
tzlocal==5.2
xclim==0.55.1
xxhash==3.4.1
xyzservices==2023.10.0
windrose==1.9.0
yamale==5.2.1
zarr==2.16.1
zict==3.0.0
zope.interface==7.2
