cftime
h5py
netCDF4
matplotlib
pngquant
pyshp
shapely
#dask only install dask, without dependencies
#dask[array] install dask and required dependencies for module dask.array
#dask[dataframe] install dask and required dependencies for module dask.dataframe
#dask[distributed] install dask and required dependencies for module dask.distributed
#dask[complete] install everything
dask[complete]
toolz
geos
pycurl
#pyproj 3.3 is compliant with proj 8.2
pyproj>=3.3.1
SQLAlchemy
cdsapi
scikit-learn
graphviz
cfgrib
palettable
seaborn
cartopy
eccodes
MetPy
Magics
ecmwf-api-client
satpy
pyorbital
pycoast
pydecorate
metview
cdo
GDAL
Fiona
geopandas
rasterio
#descartes and mapclassify : optional geopandas dependencies for polygon plotting
descartes
mapclassify
salem
regionmask
opencv-contrib-python-headless
openturns
pdbufr
pyodc
ffmpy
-e git+https://gitlab.com/cerfacs/batman.git#egg=ot-batman
numba
pyhdf
pygmt
pysteps
distributed
scikit-image
#climetlab >= 0.20.1 do not requires ecwmflibs
climetlab>=0.20.1
pygraphviz
cf-units
scitools-iris
#pyepsg is an optional dependency of Cartopy 0.18.0 (not used anymore with Cartopy 0.20.0)
pyepsg
statsmodels
bokeh
astropy
icclim
#tensorflow 2.19.0 requires protbuf < 6
protobuf<6
#note : xclim.sdba has been split from xclim into xsdba
xclim[extras]
Pint
pyoscar
fastparquet
polars
pyarrow
nco
plotly
rtree
pyogrio
folium
geographiclib
windrose
openpyxl
xlsxwriter
odswriter
FLORIS
#apng seems to be not maintained anymore
apng
thermofeel
# pyfdb (earthkit.data[all] dependency) requires fdb5 (see https://github.com/ecmwf/fdb, not provided by Metwork for the time being)
# pyfgribjump (earthkit.data[all] dependency) requires gribjump (see https://github.com/ecmwf/gribjump, not provided by Metwork for the time being)
copernicusmarine
geopy
pygeoapi
