cftime
h5py
netCDF4
Pillow
matplotlib
pngquant
pyshp
shapely
#dask only install dask, without dependencies
#dask[array] install dask and required dependencies for module dask.array
#dask[dataframe] install dask and required dependencies for module dask.dataframe
#dask[distributed] install dask and required dependencies for module dask.distributed
#dask[complete] install everything
dask[complete]
toolz
geos
lxml
pycurl
#pyproj 3.3 is compliant with proj 8.2
pyproj>=3.3.1
SQLAlchemy
cdsapi
scikit-learn
graphviz
cfgrib
palettable
seaborn
cartopy
eccodes
MetPy
Magics
ecmwf-api-client
satpy
pyorbital
pycoast
pydecorate
metview
cdo
GDAL
Fiona
geopandas
rasterio
msgpack
#descartes and mapclassify : optional geopandas dependencies for polygon plotting
descartes
mapclassify
salem
regionmask
opencv-contrib-python-headless
openturns
entrypoints
pdbufr
pyodc
ffmpy
-e git+https://gitlab.com/cerfacs/batman.git#egg=ot-batman
numba
pyhdf
pygmt
pysteps
distributed
scikit-image
reportlab
climetlab
pygraphviz
cf-units
scitools-iris
#pyepsg is an optional dependency of Cartopy 0.18.0 (not used anymore with Cartopy 0.20.0)
pyepsg
statsmodels
bokeh
astropy
#note : icclim 6.4.0 requires xclim>=0.43, <0.44
icclim
protobuf
#cf-units require antlr4-python3-runtime==4.7.2
antlr4-python3-runtime==4.7.2
xclim
Pint
pyoscar
fastparquet
polars
pyarrow
nco
plotly
rtree
pyogrio
folium
geographiclib
-e git+https://github.com/metwork-framework/configobj#egg=configobj
#tornado, distributed requirement, is also provided by layer python3_devtools
#but we can't move it in layer python3 because circus (layer python3_circus)
#requires tornado < 6
windrose
