attrs==18.2.0
cdsapi==0.1.1
cftime==1.0.0
click-plugins==1.0.4
cligj==0.5.0
cycler==0.10.0
Cython==0.28.3
dask==0.19.0
Flask==1.0.2
GDAL==2.2.4
geos==0.2.1
graphviz==0.10.1
h5py==2.8.0
itsdangerous==1.1.0
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==2.2.2
munch==2.3.2
netCDF4==1.4.2
palettable==3.1.1
pandas==0.23.4
Pillow==5.1.0
pngquant==1.0.6
pycurl==7.43.0.2
pyproj==1.9.5.1
pyshp==1.2.12
scikit-learn==0.20.1
scipy==1.1.0
Shapely==1.6.4.post2
SQLAlchemy==1.2.14
toolz==0.9.0
Werkzeug==0.14.1
xarray==0.12.1
cfgrib==0.9.6.2
https://downloads.sourceforge.net/project/matplotlib/matplotlib-toolkits/basemap-1.0.7/basemap-1.0.7.tar.gz#egg=basemap
