cftime
h5py
netCDF4
Pillow
matplotlib
pngquant
pyshp
shapely
#dask only install dask, without dependencies
#dask[array] install dask and required dependencies for module dask.array
#dask[dataframe] install dask and required dependencies for module dask.dataframe
#dask[distributed] install dask and required dependencies for module dask.distributed
#dask[complete] install everything
dask[complete]
toolz
geos
lxml
pycurl
#pyproj 3.3 is compliant with proj 8.2
pyproj>=3.3.1
SQLAlchemy
cdsapi
pandas
scikit-learn
graphviz
cfgrib
#xarray != 1.13.0 for satpy
xarray != 0.13.0
palettable
seaborn
cartopy
eccodes
MetPy
Magics
ecmwf-api-client
satpy
pyorbital
pycoast
pydecorate
metview
cdo
#GDAL < 3.3.0 use invalid use_2to3 (python 3.9.12)
GDAL>=3.3.0
Fiona
geopandas
rasterio
msgpack
#descartes and mapclassify : optional geopandas dependencies for polygon plotting
descartes
mapclassify
salem
regionmask
opencv-contrib-python-headless
openturns
entrypoints
pdbufr
pyodc
ffmpy
-e git+https://gitlab.com/cerfacs/batman.git#egg=ot-batman
numba
pyhdf
pygmt
pysteps
distributed
#tornado, distributed requirement, is also provided by layer python3_devtools
#but we can't move it in layer python3 because circus (layer python3_circus)
#requires tornado 4.5.2
scikit-image
reportlab
climetlab
pygraphviz
cf-units
#scitools-iris 3.3.1 doesn't build with setuptoools<64, so we allow binary
scitools-iris
#pyepsg is an optional dependency of Cartopy 0.18.0 (not used anymore with Cartopy 0.20.0)
pyepsg
statsmodels
#bokeh >= 3.0.0 requires setuptools.command.editable_wheel (setuptools >= 64)
bokeh<3.0.0
astropy
icclim
#protobuf>= 3.20 is not compatible with tensorflow <= 2.11.0
protobuf<3.20.0
#cf-units require antlr4-python3-runtime==4.7.2
antlr4-python3-runtime==4.7.2
#xclim>=0.38.0 requires scipy<1.9
xclim<=0.37.0
#xclim 0.37.0 does'nt work with Pint>=0.20, it will be probably ok with xclim>0.37.0 but... see above
Pint<0.20
pyoscar
fastparquet
polars
pyarrow
nco
plotly
rtree
pyogrio
folium
