aggdraw==1.3.11
asciitree==0.3.3
backports.tempfile==1.0
backports.weakref==1.0.post1
cdo==1.5.3
cdsapi==0.1.4
certifi==2019.3.9
cftime==1.0.3.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==0.2.1
configobj==5.0.6
contextlib2==0.5.5
cycler==0.10.0
dask==1.2.2
decorator==4.4.0
ecmwf-api-client==1.5.4
enum34==1.1.6
fasteners==0.15
Fiona==1.8.13
funcsigs==1.0.2
GDAL==3.0.2
graphviz==0.11.1
h5py==2.9.0
ipython-genutils==0.2.0
kiwisolver==1.1.0
lxml==4.3.4
Magics==1.0.11
matplotlib==2.2.2
MetPy==0.10.2
monotonic==1.5
munch==2.3.2
netCDF4==1.5.1.2
numcodecs==0.6.3
palettable==3.2.0
pandas==0.24.2
pathlib==1.0.1
Pillow==6.2.2
Pint==0.9
pngquant==1.0.6
pooch==0.5.2
protobuf==3.12.2
pycoast==1.2.3
pycurl==7.43.0.3
pydecorate==0.2.1
pykdtree==1.3.1
pyorbital==1.5.0
pyproj==1.9.6
pyresample==1.13.2
pyshp==2.1.0
python-dateutil==2.8.0
pytz==2019.1
satpy==0.17.1
scandir==1.10.0
scipy==1.1.0
seaborn==0.9.0
Shapely==1.6.4.post2
SQLAlchemy==1.3.5
subprocess32==3.5.4
toolz==0.10.0
traitlets==4.3.2
trollimage==1.10.1
trollsift==0.3.3
xarray==0.11.3
zarr==2.3.2
