#there is a bug related to Cython in cftime 1.0.3
cftime!=1.0.3
h5py
netCDF4
Pillow
#matplotlib=2.2.4 does not build for some reason
matplotlib==2.2.2
pngquant
pyshp
shapely
#We keep scipy<1.2.0 for python2 issue
scipy<1.2.0
dask[dataframe]
dask
toolz
#geos is python3 only
lxml
pycurl
#We must keep pyproj <=1.9.6 for cython issue with pip 9.0.3 (see https://github.com/pyproj4/pyproj/issues/177)
pyproj<2.0.0
SQLAlchemy
cdsapi
#Fiona
#Dependencies for Fiona which is built separately
attrs>=17
click<8,>=4.0
cligj>=0.5
click-plugins>=1.0
enum34
munch
#End Fiona dependencies
pandas
#We remove scikit-learn from python2_scientific (complicated issue
#between 0.20.x version, numpy 1.16.4 and atlas on centos7)
#scikit-learn
graphviz
palettable
seaborn
MetPy
Magics
ecmwf-api-client
satpy
pyorbital
pycoast
pydecorate
cdo
GDAL
Fiona
msgpack
