anyio==3.5.0
asgiref==3.5.2
et-xmlfile==1.1.0
faicons==0.2.2
htmltools==0.5.3
linkify-it-py==2.0.3
mdit-py-plugins==0.4.1
odswriter==0.4.0
openpyxl==3.1.2
python-multipart==0.0.9
questionary==2.0.1
shiny==1.0.0
sniffio==1.2.0
starlette==0.36.3
uc-micro-py==1.0.3
uvicorn==0.17.5
watchfiles==0.24.0
websockets==13.0.1
xlsxwriter==3.1.9

