faicons
odswriter
openpyxl
shiny
xlsxwriter
jupyter
notebook>=7
jupyter-console
#requirements required in other layers
#beautifulsoup4 #python3_scientific
#pyzmq #python3_circus
#soupsieve #python3_scientific
